@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@font-face{
    font-family: 'PR';
    src: url(../fonts/Play-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'PB';
    src: url(../fonts/Play-Bold.ttf) format('truetype');
}